* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    color: #333;
}

h1 {
    margin: 30px;
}

body > p {
    margin-bottom: 30px;
}

.draggable-list {
    width: 400px;
}

.draggable-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    font-weight: 600;
    border: 1px solid #aaa;
    width: 100%;
}

.draggable-item.over {
    background-color: #ddd;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.number {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ccc;
}

.name {
    margin: 0 20px;
    font-size: 16px;
}

.fa-bars {
    margin: 0 20px;
}

.check-btn {
    font-size: 20px;
    padding: 10px;
    outline: none;
    background-color: #ccc;
    border-radius: 5px;
    border: none;
    margin: 20px;
}

.name.correct {
    color: rgb(51, 216, 51);
}

.name.wrong {
    color: crimson;
}